<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="50" parallel="tests" thread-count="2"
	configfailurepolicy="continue">


<!-- <test name="iPhone5s Test"> -->
<!-- 		<parameter name="deviceID" value="f48afeb1bffa999c8a82d176701b19ee67865e48" /> -->
<!-- 		<parameter name="WDAPort" value="8102" /> -->
<!-- 		<parameter name="Port" value="4723" /> -->
<!-- 		<classes> -->
<!-- 			<class name="com.settings2.Settings22"></class> -->
<!-- 			<class name="com.settings2.settings21"></class> -->
<!-- 		</classes> -->
<!-- 	</test> -->
	<test name="iPhone7 Plus Test">
		<parameter name="deviceID" value="47fd97727a9d2ba3a2ea6462ad62818bbabf6033" />
		<parameter name="WDAPort" value="7102" />
		<parameter name="Port" value="4723" />
		
		<classes>
			<class name="com.settings1.settings11"></class>
			<class name="com.settings1.Settings12"></class>
		
		</classes>
	</test>
	
<!-- 	<test name="iPhone X Simulator Test"> -->
<!-- 		<parameter name="deviceID" value="3bc7dd8b5c22793740afe7d216afb5ba2933e394" /> -->
<!-- 		<parameter name="WDAPort" value="7101" /> -->
<!-- 		<parameter name="Port" value="4724" /> -->
<!-- 		<classes> -->
<!-- 			<class name="com.settings3.Settings31"></class> -->
			
<!-- 		</classes> -->
<!-- 	</test> -->
</suite>

